# Warsztaty Python w Data Science

***

# Blok 1 - Wprowadzenie
## Python (2 z 2)

***

# Dlaczego Python a nie R ?

## Krótka odpowiedź: ... bo coś trzeba wybrać 

## Dłuższa odpowiedź:

![thylacine](img/thylacine0.jpg)

## Wilk workowaty († _Thylacinus cynocephalus_)

- Największy drapieżny torbacz czasów współczesnych.
- Drapieżnik alfa (na szczycie piramidy ekologicznej)
- Zwierzę nocne. 
- Polowało na kangury i wombaty – ale również na owce
- Długość: 100-110 cm, wysokość ok. 60 cm, waga ok. 30 kg
- Uzębienie typowe dla drapieżników

![thylacine](img/thylacine.jpg)

![thylacine](img/wolf.jpg)

(Źródła zdjęć: wikipedia)

# No dobra, ale co to ma wspólnego z Pythonem ?

# Podobne problemy wymagają podobnych rozwiązań

## To z czego korzystać ?

### Opowiedź: Nie ma znaczenia. Każda technologia jest okazją do nauki :)
  - z **R** naucz się jak przygotowywać dane
  - z **Pythona** naucz się jak organizować kod
  - ze **Scali** - jak pisać funkcjonalnie w sposób skalowalny
  - z **Javy** - jak (nie) dzielić projekt na mniejsze częsci
  - etc. etc.

---

# Zadanie 1

Napisać funkcję co policzy ilość wystąpień na liście
Przykład

zlicz( [1, 2, 3, 4, 1, 2, 1] )

{ 1: 3, 2: 2, 3: 1, 4: 1 }

In [23]:
def zlicz(lista):
    ilosc_wystapien = {}
    for x in lista:
        ilosc = ilosc_wystapien.get(x, 0)
        ilosc = ilosc + 1
        ilosc_wystapien[x] = ilosc
    return ilosc_wystapien

In [24]:
zlicz([1])

{1: 1}

In [25]:
zlicz([1, 1, 1])

{1: 3}

In [26]:
zlicz([1, 2, 1])

{1: 2, 2: 1}

In [27]:
zlicz( [1, 2, 3, 4, 1, 2, 1] )

{1: 3, 2: 2, 3: 1, 4: 1}

# Zadanie 2

Napisać funkcję co wypisze choinkę o odpowiedniej wysokości

choinka(7)


       *
      ***
     *****
    *******
   *********
  ***********
 *************
       *
      ***

In [28]:
def choinka(poziom):
    S=" "
    G="*"
    for i in range(1,poziom+1):
        print ( S*(poziom-i) + G*(2*i-1) )
    print( S*(poziom-1) + G )
    print( S*(poziom-2) + G*3 )

In [29]:
choinka(7)

      *
     ***
    *****
   *******
  *********
 ***********
*************
      *
     ***

In [30]:
choinka(3)

  *
 ***
*****
  *
 ***

In [31]:
choinka(12)

           *
          ***
         *****
        *******
       *********
      ***********
     *************
    ***************
   *****************
  *******************
 *********************
***********************
           *
          ***

# Zadanie 3

Napisać funkcję co wypiszę liczbę naturalną słownie dla liczb od 0 do 999999.

slownie(1984)
'tysiąc dziewięćset osiemdziesiąt cztery'

In [32]:
def do999(n):
    nazwy_jednosci = { 0: "", 1: "jeden", 2: "dwa", 3: "trzy", 4: "cztery", 5: "pięć", 6: "sześć", 7: "siedem", 8: "osiem", 9: "dziewięć"}
    nazwy_nastki = { 11: "jedenaście", 12: "dwanaście", 13: "trzynaście", 14: "czternaście", 15: "piętnaście", 16: "szesnaście", 17: "siedemnaście", 18: "osiemnaście", 19: "dziewietnaście"}
    nazwy_dziesiatki = { 0: "", 10: "dziesięć", 20: "dwadzieścia", 30: "trzydzieści", 40: "czterdzieści", 50: "pięćdziesiąt", 60: "sześćdziesiąt", 70: "siedemdziesiąt", 80: "osiemdziesiąt", 90: "dziewięćdziesiąt"}
    nazwy_setki = { 0: "", 100: "sto", 200: "dwieście", 300: "trzysta", 400: "czterysta", 500: "pięćset", 600: "sześćset", 700: "siedemset", 800: "osiemset", 900: "dziewięćset"}
    
    wynik = [n] 
    
    jednosci = n % 10
    wynik =  [ (jednosci,nazwy_jednosci[jednosci]) ]
    
    n = n - jednosci
    dziesiatki = n % 100
    
    if dziesiatki == 10 and jednosci > 0:
        suma = dziesiatki+jednosci
        wynik = [ (suma, nazwy_nastki[suma]) ]
    else:
        wynik = [ (dziesiatki,nazwy_dziesiatki[dziesiatki]) ]  + wynik
        
    n = n - dziesiatki
    setki = n % 1000
    wynik= [ (setki,nazwy_setki[setki]) ] + wynik
    
    return wynik

In [33]:
do999(0)

[(0, ''), (0, ''), (0, '')]

In [34]:
do999(37)

[(0, ''), (30, 'trzydzieści'), (7, 'siedem')]

In [35]:
do999(231)

[(200, 'dwieście'), (30, 'trzydzieści'), (1, 'jeden')]

In [36]:
do999(211)

[(200, 'dwieście'), (11, 'jedenaście')]

In [37]:
do999(112)

[(100, 'sto'), (12, 'dwanaście')]

In [38]:
def dodaj_jednostke(lista, formy):
    wartosc = 0
    for i in lista:
        wartosc += i[0] 
        
    if wartosc==0:
        return lista

    if wartosc==1:
        lista = [ (0, formy[0]) ]
    elif lista[-1][0] in [2,3,4]:
        lista.append( (lista[-1][0], formy[1]))
    else:
        lista.append( (lista[-1][0], formy[2]))
    return lista

In [39]:
dodaj_jednostke([(100, 'sto'), (12, 'dwanaście')], ['jabłko', 'jabłka', 'jabłek'])

[(100, 'sto'), (12, 'dwanaście'), (12, 'jabłek')]

In [40]:
dodaj_jednostke(do999(112), ['jabłko', 'jabłka', 'jabłek'])

[(100, 'sto'), (12, 'dwanaście'), (12, 'jabłek')]

In [43]:
dodaj_jednostke(do999(2), ['jabłko', 'jabłka', 'jabłek'])

[(0, ''), (0, ''), (2, 'dwa'), (2, 'jabłka')]

In [44]:
dodaj_jednostke(do999(5), ['jabłko', 'jabłka', 'jabłek'])

[(0, ''), (0, ''), (5, 'pięć'), (5, 'jabłek')]

In [45]:
def sklej(lista):
    wynik = ""
    S = " "
    for i in lista:
        if len(i[1])>0:
            wynik += S + i[1]
    return wynik.strip()

In [46]:
sklej(dodaj_jednostke(do999(5), ['jabłko', 'jabłka', 'jabłek']))

'pięć jabłek'

In [48]:
sklej(dodaj_jednostke(do999(72), ['jabłko', 'jabłka', 'jabłek']))

'siedemdziesiąt dwa jabłka'

In [49]:
sklej(dodaj_jednostke(do999(121), ['jabłko', 'jabłka', 'jabłek']))

'sto dwadzieścia jeden jabłek'

In [50]:
sklej(dodaj_jednostke(do999(1), ['jabłko', 'jabłka', 'jabłek']))

'jabłko'

In [51]:
def _slownie(n):
    wynik = do999(n%1000)
    if n>999:
        n=n//1000
        wynik = dodaj_jednostke(do999(n%1000), ['tysiąc', 'tysiące', 'tysięcy']) + wynik
    if n>999:
        n=n//1000
        wynik = dodaj_jednostke(do999(n%1000), ['milion', 'miliony', 'milionów']) + wynik
    if n>999:
        n=n//1000
        wynik = dodaj_jednostke(do999(n%1000), ['miliard', 'miliardy', 'miliardów']) + wynik
        
    return wynik

In [52]:
_slownie(1984)

[(0, 'tysiąc'), (900, 'dziewięćset'), (80, 'osiemdziesiąt'), (4, 'cztery')]

In [53]:
_slownie(369017002011)

[(300, 'trzysta'),
 (60, 'sześćdziesiąt'),
 (9, 'dziewięć'),
 (9, 'miliardów'),
 (0, ''),
 (17, 'siedemnaście'),
 (17, 'milionów'),
 (0, ''),
 (0, ''),
 (2, 'dwa'),
 (2, 'tysiące'),
 (0, ''),
 (11, 'jedenaście')]

do999 -------------\
                    ------> _slownie -----> sklej -----> slownie 
dodaj_jednostke ---/

In [54]:
def slownie(n):
    lista = _slownie(n)
    wynik = sklej(lista)
    return wynik.strip()

In [55]:
slownie(1984)

'tysiąc dziewięćset osiemdziesiąt cztery'

In [56]:
slownie(1000000000)

'miliard'

In [57]:
slownie(369017002011)

'trzysta sześćdziesiąt dziewięć miliardów siedemnaście milionów dwa tysiące jedenaście'

---

## Język Python - wprowadzenie (2. spotkanie)
- ### Argumenty Funkcji
- ### Instrukcje sterujące cd. 
- ### Struktury danych cd.
    - ### Zbiory
    - ### List comprehension
    - ### Sortowanie
---
## Argumenty Funkcji

In [58]:
int("10")

10

In [59]:
int("10", base=2)

2

In [60]:
def wiecej(x, ile_razy=2):
    return ile_razy*x

In [61]:
wiecej(100)

200

In [62]:
wiecej(100, ile_razy=10)

1000

In [63]:
def _slownie(n, jednostki=None):
    if jednostki:
        wynik = dodaj_jednostke(do999(n%1000), jednostki)
    else:
        wynik = do999(n%1000)
    
    if n>999:
        n=n//1000
        wynik = dodaj_jednostke(do999(n%1000), ['tysiąc', 'tysiące', 'tysięcy']) + wynik
    if n>999:
        n=n//1000
        wynik = dodaj_jednostke(do999(n%1000), ['milion', 'miliony', 'milionów']) + wynik
    if n>999:
        n=n//1000
        wynik = dodaj_jednostke(do999(n%1000), ['miliard', 'miliardy', 'miliardów']) + wynik
        
    return wynik

def slownie(n, jednostki= None):
    lista = _slownie(n, jednostki)
    wynik = sklej(lista)
    return wynik.strip()

In [64]:
slownie(1984)

'tysiąc dziewięćset osiemdziesiąt cztery'

In [65]:
zlote=['złoty', 'złote', 'złotych']

slownie(1984, zlote)

'tysiąc dziewięćset osiemdziesiąt cztery złote'

In [68]:
def choinka(poziom, separator=" ", znak="*"):
    S=separator
    G=znak
    for i in range(1,poziom+1):
        print ( S*(poziom-i) + G*(2*i-1) )
    print( S*(poziom-1) + G )
    print( S*(poziom-2) + G*3 )

In [69]:
choinka(7)

      *
     ***
    *****
   *******
  *********
 ***********
*************
      *
     ***

In [70]:
choinka(znak='#', poziom=7)

      #
     ###
    #####
   #######
  #########
 ###########
#############
      #
     ###

In [71]:
def test_var_args(farg, *args):
    print ("formal arg:", farg)
    print(args)
    for arg in args:
        print ("another arg:", arg)

In [72]:
test_var_args(1, "two", 3)

formal arg: 1
('two', 3)
another arg: two
another arg: 3

In [73]:
def test_var_kwargs(farg, **kwargs):
    print ("formal arg:", farg)
    for key in kwargs:
        print ("another keyword arg: %s: %s" % (key, kwargs[key]))
    print (kwargs)

In [74]:
test_var_kwargs(farg=1, myarg2="two", myarg3=3)

formal arg: 1
another keyword arg: myarg2: two
another keyword arg: myarg3: 3
{'myarg2': 'two', 'myarg3': 3}

## Instrukcje sterujące

In [75]:
n = 1
napis = ""
if n==0:
    nazwa = "zero"
else:
    nazwa = "nie zero"
    
nazwa

'nie zero'

In [76]:
nazwa = "zero" if n==0 else "nie zero"
nazwa

'nie zero'

In [77]:
n = 5
while n > 0:
    n -= 1
    print(n)

4
3
2
1
0

In [78]:
n = 5
while n > 0:
    n -= 1
    print(n)
    if n==2: 
        break

4
3
2

In [79]:
lista = list(range(7))
lista

[0, 1, 2, 3, 4, 5, 6]

In [80]:
lista.pop()

6

In [81]:
lista

[0, 1, 2, 3, 4, 5]

In [82]:
while lista:
    print(lista.pop())

5
4
3
2
1
0

In [83]:
lista

[]

## Zbiory

In [84]:
zbior = set()

In [85]:
zbior.add(3)
zbior.add(4)
zbior.add(3)
zbior

{3, 4}

In [86]:
zbior = {3, 4, 5}

In [87]:
zbior.add(3)
zbior.add(4)
zbior.add(7)
zbior

{3, 4, 5, 7}

## List comprehension

### Generator Expressions

x for x in range(10)

x*x for x in range(10)

(x*y for x in range(10) for y in range(x))

x*x for x in range(10) if x % 2 == 0

List + Generator Expression
           =     
    List comprehension

In [88]:
[ x for x in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [89]:
[ x*x for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [90]:
[ x*x for x in range(10) if x % 2 == 0 ]

[0, 4, 16, 36, 64]

## Dict comprehension

In [91]:
{ x:x*x for x in range(10) if x % 2 == 0 }

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [92]:
(x*y for x in range(10) for y in range(x))

In [93]:
[(x, y, x*y) for x in range(5) for y in range(x)]

[(1, 0, 0),
 (2, 0, 0),
 (2, 1, 2),
 (3, 0, 0),
 (3, 1, 3),
 (3, 2, 6),
 (4, 0, 0),
 (4, 1, 4),
 (4, 2, 8),
 (4, 3, 12)]

## Sortowanie list

In [94]:
lista = list(range(10, 0, -1))
lista

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [95]:
lista.sort()
lista

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [96]:
lista.sort(reverse=True)
lista

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [97]:
lista = [ str(i) for i in range(21)]
str(lista)

"['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20']"

In [98]:
lista.sort()
str(lista)

"['0', '1', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '2', '20', '3', '4', '5', '6', '7', '8', '9']"

In [99]:
def int_val(s):
    return int(s)

In [100]:
lista.sort(key=int_val)
str(lista)

"['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20']"

In [103]:
dluga_lista = [ str(i) for i in range(21)] + [ str(i) for i in range(-1, -21, -1)]
str(dluga_lista)

"['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '-1', '-2', '-3', '-4', '-5', '-6', '-7', '-8', '-9', '-10', '-11', '-12', '-13', '-14', '-15', '-16', '-17', '-18', '-19', '-20']"

---
## Zadanie 1 - łatwe

Posortować `dluga_lista` po wartości bezwględnej elementów listy interpretowanych jako wartość całkowita

## Zadanie 2 - średnie

Wygenerować listę liczb z zakresu `1-1000` które nie są podzielne przez żadną cyfrę od `2` do `9`.

## Zadanie 3 - trudne

Stworz funkcję która usunie "wyplaszczy" zagnieżdzone listy

`l = [4, 1, [ 2, [7] ], 3]`

`wyplaszcz(l)`

`[4, 1, 2, 7, 3]`