# Warsztaty Python w Data Science

## Data Wrangling z Biblioteką Pandas - wprowadzenie 
### Część 1 z 3

***

# https://github.com/MichalKorzycki/PythonDataScience

***

## 3. Data Wrangling 1
- Data wrangling, munging, tidying
- Biblioteka Pandas – wprowadzenie
- Wybieranie wierszy
- Formatowanie

---
## Zadanie 1 

Posortować `dluga_lista` po wartości bezwględnej elementów listy interpretowanych jako wartość całkowita

In [3]:
dluga_lista = [ str(i) for i in range(21)] + [ str(i) for i in range(-1, -21, -1)]
str(dluga_lista)

"['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '-1', '-2', '-3', '-4', '-5', '-6', '-7', '-8', '-9', '-10', '-11', '-12', '-13', '-14', '-15', '-16', '-17', '-18', '-19', '-20']"

In [4]:
abs(-1)

1

In [5]:
abs('-1')

TypeError: bad operand type for abs(): 'str'

In [6]:
def bezwzgledna(x):
    x = float(x)
    return x if x > 0 else -x

In [7]:
bezwzgledna('-1')

1.0

In [8]:
dluga_lista.sort(key=bezwzgledna)
str(dluga_lista)

"['0', '1', '-1', '2', '-2', '3', '-3', '4', '-4', '5', '-5', '6', '-6', '7', '-7', '8', '-8', '9', '-9', '10', '-10', '11', '-11', '12', '-12', '13', '-13', '14', '-14', '15', '-15', '16', '-16', '17', '-17', '18', '-18', '19', '-19', '20', '-20']"

In [9]:
dluga_lista =  [ str(i) for i in range(-1, -21, -1)] + [ str(i) for i in range(21)]
str(dluga_lista)

"['-1', '-2', '-3', '-4', '-5', '-6', '-7', '-8', '-9', '-10', '-11', '-12', '-13', '-14', '-15', '-16', '-17', '-18', '-19', '-20', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20']"

In [10]:
dluga_lista.sort(key=bezwzgledna)
str(dluga_lista)

"['0', '-1', '1', '-2', '2', '-3', '3', '-4', '4', '-5', '5', '-6', '6', '-7', '7', '-8', '8', '-9', '9', '-10', '10', '-11', '11', '-12', '12', '-13', '13', '-14', '14', '-15', '15', '-16', '16', '-17', '17', '-18', '18', '-19', '19', '-20', '20']"

## Zadanie 2

Wygenerować listę liczb z zakresu `1-1000` które nie są podzielne przez żadną cyfrę od `2` do `9`.

In [11]:
[ (num,[div for div in range(2,10) if num%div == 0])  for num in range(1,21)]

[(1, []),
 (2, [2]),
 (3, [3]),
 (4, [2, 4]),
 (5, [5]),
 (6, [2, 3, 6]),
 (7, [7]),
 (8, [2, 4, 8]),
 (9, [3, 9]),
 (10, [2, 5]),
 (11, []),
 (12, [2, 3, 4, 6]),
 (13, []),
 (14, [2, 7]),
 (15, [3, 5]),
 (16, [2, 4, 8]),
 (17, []),
 (18, [2, 3, 6, 9]),
 (19, []),
 (20, [2, 4, 5])]

``` python
[num for num in range(1,1001) if not [div for div in range(2,10) if num%div == 0]]
```

In [12]:
str([num for num in range(1,1001) if not [div for div in range(2,10) if num%div == 0]][:21])

'[1, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89]'

In [13]:
str([num for num in range(1,1001) if not [div for div in range(2,10) if num%div == 0]][-20:])

'[911, 913, 919, 923, 929, 937, 941, 943, 947, 949, 953, 961, 967, 971, 977, 979, 983, 989, 991, 997]'

## Zadanie 3

Stworz funkcję która usunie "wyplaszczy" zagnieżdzone listy

l = [4, 1, [ 2, [7] ], 3]

wyplaszcz(l)

l

[4, 1, 2, 7, 3]

In [14]:
def wyplaszcz(lista):
    ret = []
    for x in lista:
        if type(x)==type([]):
            for y in wyplaszcz(x):
                ret.append(y)
        else:
            ret.append(x)
    return ret

In [15]:
l = [4, 1, [ 2, [7] ], 3]
l = wyplaszcz(l)
l

[4, 1, 2, 7, 3]

In [16]:
def wyplaszcz(lista):
    kopia = list(lista)
    for i in range(len(lista)-1,-1,-1):
        del lista[i]
    for x in kopia:
        if type(x)==type([]):
            for y in wyplaszcz(x):
                lista.append(y)
        else:
            lista.append(x)
    return lista

In [17]:
l = [4, 1, [ 2, [7] ], 3]
wyplaszcz(l)
l

[4, 1, 2, 7, 3]

***

![](img/road.jpg)

## Data Wrangling, Munging, Tidying

### Data Wrangling
- __Discovering__ (eksploracja danych)
- __Structuring__ (przygotowanie danych do konkretnego zadania)
- __Cleaning__ (ujednolicenie danych, usuwanie danych niepotrzebnych itd.)
- Enriching (łączenie danych)
- Validating (sprawdzenie poprawności merytorycznej)
- Publishing (publikacja wyników)

źródło: https://www.onlinewhitepapers.com/information-technology/six-core-data-wrangling-activities/

## Tidy Data

Wickham, Hadley - _"Tidy Data"_
https://www.jstatsoft.org/index.php/jss/article/view/v059i10/v59i10.pdf

- __Each variable you measure should be in one column.__
- __Each different observation of that variable should be in a different row.__
- There should be one table for each "kind" of variable.
- If you have multiple tables, they should include a column in the table that allows them to be linked.

## Pandas

https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf

In [18]:
import pandas

In [19]:
data = {'year': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012],
        'team': ['Bears', 'Bears', 'Bears', 'Packers', 'Packers', 'Lions',
                 'Lions', 'Lions'],
        'wins': [11, 8, 10, 15, 11, 6, 10, 4],
        'losses': [5, 8, 6, 1, 5, 10, 6, 12]}

In [20]:
import pandas 

football = pandas.DataFrame(data)
print (football)

   year     team  wins  losses
0  2010    Bears    11       5
1  2011    Bears     8       8
2  2012    Bears    10       6
3  2011  Packers    15       1
4  2012  Packers    11       5
5  2010    Lions     6      10
6  2011    Lions    10       6
7  2012    Lions     4      12

In [21]:
football

   year     team  wins  losses
0  2010    Bears    11       5
1  2011    Bears     8       8
2  2012    Bears    10       6
3  2011  Packers    15       1
4  2012  Packers    11       5
5  2010    Lions     6      10
6  2011    Lions    10       6
7  2012    Lions     4      12

In [22]:
football.describe()

              year       wins     losses
count     8.000000   8.000000   8.000000
mean   2011.125000   9.375000   6.625000
std       0.834523   3.377975   3.377975
min    2010.000000   4.000000   1.000000
25%    2010.750000   7.500000   5.000000
50%    2011.000000  10.000000   6.000000
75%    2012.000000  11.000000   8.500000
max    2012.000000  15.000000  12.000000

In [23]:
football.dtypes

year       int64
team      object
wins       int64
losses     int64
dtype: object

In [24]:
football.head()

   year     team  wins  losses
0  2010    Bears    11       5
1  2011    Bears     8       8
2  2012    Bears    10       6
3  2011  Packers    15       1
4  2012  Packers    11       5

In [25]:
football.tail()

   year     team  wins  losses
3  2011  Packers    15       1
4  2012  Packers    11       5
5  2010    Lions     6      10
6  2011    Lions    10       6
7  2012    Lions     4      12

In [26]:
football.sample(5)

   year   team  wins  losses
2  2012  Bears    10       6
0  2010  Bears    11       5
1  2011  Bears     8       8
7  2012  Lions     4      12
5  2010  Lions     6      10

In [27]:
football['year']

0    2010
1    2011
2    2012
3    2011
4    2012
5    2010
6    2011
7    2012
Name: year, dtype: int64

In [28]:
football.year

0    2010
1    2011
2    2012
3    2011
4    2012
5    2010
6    2011
7    2012
Name: year, dtype: int64

In [29]:
football[['year', 'team', 'wins']]

   year     team  wins
0  2010    Bears    11
1  2011    Bears     8
2  2012    Bears    10
3  2011  Packers    15
4  2012  Packers    11
5  2010    Lions     6
6  2011    Lions    10
7  2012    Lions     4

---

## Row Selection
### Wybieranie wierszy

1. Slicing
2. Individual index (iloc / loc)
3. Boolean indexing
4. Combination

### Slicing

In [37]:
football

   year     team  wins  losses
0  2010    Bears    11       5
1  2011    Bears     8       8
2  2012    Bears    10       6
3  2011  Packers    15       1
4  2012  Packers    11       5
5  2010    Lions     6      10
6  2011    Lions    10       6
7  2012    Lions     4      12

In [38]:
football[3:5]

   year     team  wins  losses
3  2011  Packers    15       1
4  2012  Packers    11       5

### Individual index

### Iloc
- An integer, e.g. 5.
- A list or array of integers, e.g. [4, 3, 0].
- A slice object with ints, e.g. 1:7.
- A boolean array.
- A function

In [39]:
football.iloc[[0,3]]

   year     team  wins  losses
0  2010    Bears    11       5
3  2011  Packers    15       1

### Loc
- A single label
- A list or array of labels, e.g. ['a', 'b', 'c'].
- A slice object with labels, e.g. 'a':'f' __(WARNING - both the start and the stop are included)__ 
- A boolean array
- A callable function

In [41]:
import numpy as np
import pandas as pd

index = pd.date_range('1/1/2000', periods=8)
df = pd.DataFrame(np.random.randn(8, 3), index=index, columns=['A', 'B', 'C'])
df

                   A         B         C
2000-01-01 -1.452300 -0.545937  0.053547
2000-01-02  1.905933 -0.078279  0.482561
2000-01-03 -0.025862 -1.366965  1.118381
2000-01-04 -1.497222 -1.853860  0.507182
2000-01-05  0.521542  1.112360  0.265342
2000-01-06 -0.159335 -0.376129 -0.575374
2000-01-07 -0.316145  0.728664  0.010163
2000-01-08 -1.197735  0.541977  0.921149

In [42]:
df.loc['2000-01-03']

A   -0.025862
B   -1.366965
C    1.118381
Name: 2000-01-03 00:00:00, dtype: float64

In [43]:
df.loc['2000-01-03': '2000-01-04']

                   A         B         C
2000-01-03 -0.025862 -1.366965  1.118381
2000-01-04 -1.497222 -1.853860  0.507182

### Boolean indexing

In [44]:
football[football.wins > 10]

   year     team  wins  losses
0  2010    Bears    11       5
3  2011  Packers    15       1
4  2012  Packers    11       5

### Combination

In [48]:
football

   year     team  wins  losses
0  2010    Bears    11       5
1  2011    Bears     8       8
2  2012    Bears    10       6
3  2011  Packers    15       1
4  2012  Packers    11       5
5  2010    Lions     6      10
6  2011    Lions    10       6
7  2012    Lions     4      12

In [49]:
football[(football.wins > 10) & (football.team == "Packers")]

   year     team  wins  losses
3  2011  Packers    15       1
4  2012  Packers    11       5

In [50]:
football[(football.wins > 10) | (football.team == "Packers")]

   year     team  wins  losses
0  2010    Bears    11       5
3  2011  Packers    15       1
4  2012  Packers    11       5

***

## Formatowanie

In [53]:
import numpy as np
import pandas as pd

index = pd.date_range('1/1/2000', periods=8)
df = pd.DataFrame(np.random.randn(8, 3), index=index, columns=['A', 'B', 'C'])
df

                   A         B         C
2000-01-01 -1.318834 -2.097691 -0.716669
2000-01-02 -0.521646 -1.305941  0.457848
2000-01-03  0.687019 -2.834824  0.863355
2000-01-04 -0.116238  0.369267 -0.723051
2000-01-05  0.038618  0.007272 -1.255520
2000-01-06 -1.598275 -0.080297  2.000208
2000-01-07  0.423290 -0.333091  0.141600
2000-01-08 -1.729768  0.710826 -0.977843

In [54]:
df.values

array([[-1.31883363, -2.09769123, -0.71666857],
       [-0.52164586, -1.3059411 ,  0.45784846],
       [ 0.68701891, -2.83482377,  0.86335502],
       [-0.11623838,  0.36926668, -0.7230513 ],
       [ 0.0386182 ,  0.00727226, -1.25551959],
       [-1.59827526, -0.08029655,  2.00020762],
       [ 0.42328987, -0.3330907 ,  0.14160007],
       [-1.72976766,  0.71082561, -0.97784318]])

In [55]:
df.index

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08'],
              dtype='datetime64[ns]', freq='D')

In [56]:
df.columns

Index(['A', 'B', 'C'], dtype='object')

In [57]:
newcols = []
for i in range(len(df.columns)):
    newcols.append(df.columns[i].lower())
df.columns = newcols

In [58]:
df

                   a         b         c
2000-01-01 -1.318834 -2.097691 -0.716669
2000-01-02 -0.521646 -1.305941  0.457848
2000-01-03  0.687019 -2.834824  0.863355
2000-01-04 -0.116238  0.369267 -0.723051
2000-01-05  0.038618  0.007272 -1.255520
2000-01-06 -1.598275 -0.080297  2.000208
2000-01-07  0.423290 -0.333091  0.141600
2000-01-08 -1.729768  0.710826 -0.977843

In [59]:
df.style

In [60]:
def color_negative_red(val):
    color = 'red' if val < 0 else 'white'
    return 'color: %s' % color

In [61]:
df.style.applymap(color_negative_red)

In [63]:
df.index = pd.to_datetime(df.index, format = '%Y-%m-%d').strftime('%Y-%m-%d')
df.style.applymap(color_negative_red)

In [64]:
def highlight_max(s):
    is_max = s == s.max()
    return ['background-color: blue' if v else '' for v in is_max]

In [69]:
df.style.apply(highlight_max)

In [70]:
df.style.apply(highlight_max, axis=1)

In [71]:
df.style.apply(highlight_max, axis=0)

In [72]:
df.style.apply(highlight_max, axis=0).applymap(color_negative_red)

## Nowe kolumny

In [73]:
df.suma = df.a + df.b + df.c

C:\Users\sesa443784\AppData\Local\Continuum\anaconda3\envs\py3k\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

In [74]:
df['suma'] = df.a + df.b + df.c

In [75]:
df

                   a         b         c      suma
2000-01-01 -1.318834 -2.097691 -0.716669 -4.133193
2000-01-02 -0.521646 -1.305941  0.457848 -1.369738
2000-01-03  0.687019 -2.834824  0.863355 -1.284450
2000-01-04 -0.116238  0.369267 -0.723051 -0.470023
2000-01-05  0.038618  0.007272 -1.255520 -1.209629
2000-01-06 -1.598275 -0.080297  2.000208  0.321636
2000-01-07  0.423290 -0.333091  0.141600  0.231799
2000-01-08 -1.729768  0.710826 -0.977843 -1.996785

### Zadanie 1

Podsumować dane dla zespołu `Packers` (stworzyć `DataFrame` z danymi tego zespołu)

### Zadanie 2

Dodać do DataFrame `football` kolumnę `games_played`

### Zadanie 3

Dodać do DataFrame `football` kolumnę `percentage_games_won`

## Zadanie 4

Wyświetlić dane dla zespołu `Packers` z lat parzystych