# Warsztaty Python w Data Science

***

## Data Wrangling z Biblioteką Pandas 
### Część 2 z 3 - Zmiana kształtu ramki danych

***

# https://github.com/MichalKorzycki/PythonDataScience

## Data Wrangling 2

- Zastosowanie formuł
- Długa w szeroką, Szeroka w długą
- Tabele przestawne

***

In [ ]:
import pandas as pd

data = {'year': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012],
        'team': ['Bears', 'Bears', 'Bears', 'Packers', 'Packers', 'Lions',
                 'Lions', 'Lions'],
        'wins': [11, 8, 10, 15, 11, 6, 10, 4],
        'losses': [5, 8, 6, 1, 5, 10, 6, 12]}


football = pd.DataFrame(data)
football

### Zadanie 1

Podsumować dane dla zespołu `Packers`

In [ ]:
football[football.team == "Packers"]

In [ ]:
football[football.team == "Packers"].describe()

### Zadanie 2

Dodać do DataFrame `football` kolumnę `games_played`

In [ ]:
football['games_played'] = football.wins + football.losses
football

### Zadanie 3

Dodać do DataFrame `football` kolumnę `percentage_games_won`

In [ ]:
football['percentage_games_won'] = 100.0 * football.wins / football.games_played
football

### Zadanie 4

Wyświetlić dane dla zespołu `Packers` z lat parzystych

In [ ]:
football[(football.year % 2 == 0) & (football.team == "Packers")]

# Tidy Data

- __Each variable you measure should be in one column.__
- __Each different observation of that variable should be in a different row.__
- There should be one table for each "kind" of variable.
- If you have multiple tables, they should include a column in the table that allows them to be linked.

# Pandas
## Zastosowanie formuł

In [2]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(-1, 10))
df

In [ ]:
def highlight_max(s):
    is_max = s == s.max()
    return ['background-color: blue' if v else '' for v in is_max]

In [ ]:
df.style.apply(highlight_max)

In [ ]:
df.style.apply(highlight_max, axis=0)

In [ ]:
df.apply(max,axis=0)

In [ ]:
df.style.apply(highlight_max, axis=1)

In [ ]:
df.apply(max,axis=1)

In [ ]:
df["max"] = df.apply(max,axis=1)
df

In [ ]:
df.append(df.apply(max,axis=0), ignore_index=True)

---
## Zmiana kształtu DataFrame
### Szeroki w długi

- __Each variable you measure should be in one column.__ Każda obserwacja w jednej kolumnie

In [ ]:
df = pd.DataFrame({'Student': {0: 'Kowalski J.', 1: 'Nowak A.', 2: 'Korzycki M.'},
                   'WuEf': {0: 5, 1: 4, 2: 2},
                   'Polski': {0: 4, 1: 4, 2: 2},
                   'Matma': {0: 5, 1: 3, 2: 2}})
df

In [ ]:
pd.melt(df, id_vars=['Student'], value_vars=['WuEf', 'Matma', 'Polski'])

In [ ]:
df1 = pd.melt(df, id_vars=['Student'], value_vars=['WuEf', 'Matma', 'Polski'],
       var_name='Przedmiot', value_name='Ocena')
df1

In [ ]:
df1.sort_values('Student')

In [ ]:
df1.sort_values([ 'Przedmiot', 'Student'])

In [ ]:
df1.sort_values(['Student', 'Przedmiot']).reset_index()

In [ ]:
df1.sort_values(['Student', 'Przedmiot'])

In [ ]:
df1.sort_values(['Student', 'Przedmiot']).sort_index()

---
### Długi w szeroki

In [3]:
df = pd.DataFrame({ 'foo': ['one', 'one', 'one', 'two', 'two', 'two'],
                    'bar': ['A', 'B', 'C', 'A', 'B', 'C'],
                    'baz': [1, 2, 3, 4, 5, 6], 
                    'zoo': ['x', 'y', 'z', 'q', 'w', 't']})

In [4]:
df

   foo bar  baz zoo
0  one   A    1   x
1  one   B    2   y
2  one   C    3   z
3  two   A    4   q
4  two   B    5   w
5  two   C    6   t

## Stack i Unstack

![](img/stack.png)

Źródło: https://pandas.pydata.org/pandas-docs/stable/user_guide/reshaping.html

In [5]:
df.stack()

0  foo    one
   bar      A
   baz      1
   zoo      x
1  foo    one
   bar      B
   baz      2
   zoo      y
2  foo    one
   bar      C
   baz      3
   zoo      z
3  foo    two
   bar      A
   baz      4
   zoo      q
4  foo    two
   bar      B
   baz      5
   zoo      w
5  foo    two
   bar      C
   baz      6
   zoo      t
dtype: object

In [6]:
df.stack().reset_index()

    level_0 level_1    0
0         0     foo  one
1         0     bar    A
2         0     baz    1
3         0     zoo    x
4         1     foo  one
5         1     bar    B
6         1     baz    2
7         1     zoo    y
8         2     foo  one
9         2     bar    C
10        2     baz    3
11        2     zoo    z
12        3     foo  two
13        3     bar    A
14        3     baz    4
15        3     zoo    q
16        4     foo  two
17        4     bar    B
18        4     baz    5
19        4     zoo    w
20        5     foo  two
21        5     bar    C
22        5     baz    6
23        5     zoo    t

In [7]:
df.columns

Index(['foo', 'bar', 'baz', 'zoo'], dtype='object')

In [ ]:
df.inde

![](img/unstack.png)

Źródło: https://pandas.pydata.org/pandas-docs/stable/user_guide/reshaping.html

In [ ]:
df.stack().unstack()

In [ ]:
df

### Długi w szeroki

![title](img/pivot.png)

Źródło: https://pandas.pydata.org/pandas-docs/stable/user_guide/reshaping.html

In [ ]:
df.pivot(index='foo', columns='bar', values='baz')

In [ ]:
df.pivot(index='foo', columns='bar', values=['baz', 'zoo'])

In [ ]:
df_e = pd.DataFrame({"foo": ['one', 'one', 'two', 'two'],
                   "bar": ['A', 'A', 'B', 'C'],
                   "baz": [1, 2, 3, 4]})
df_e

In [ ]:
df_e.pivot(index='foo', columns='bar', values='baz')

In [ ]:
df = pd.DataFrame({"foo": ['one', 'two', 'three', 'four'],
                   "bar": ['A', 'B', 'C', 'D'],
                   "baz": [1, 2, 3, 4]})
df

In [ ]:
df.pivot(index='bar', columns='foo')

In [ ]:
df.pivot(index='foo', columns='bar')

In [ ]:
df.groupby(['foo', 'bar'])['baz'].aggregate('mean')

In [ ]:
df.groupby(['foo', 'bar'])['baz'].aggregate('mean').unstack()

### Zadanie 1

Napraw `df_e` biorąc maksimum wartości `baz` dla pary `foo`, `bar` (odrzuć konflikty)

### Zadanie 2

Do poniższego DataFrame:
    
`df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, 10))`

Dołożyć:
    
- kolumnę z sumą po wierszach
- wiersz z sumą po kolumnach

### Zadanie 3

Przerobic DataFrame:

In [ ]:
data = {'weekday': ["Monday", "Tuesday", "Wednesday", 
         "Thursday", "Friday", "Saturday", "Sunday"],
        'Person 1': [12, 6, 5, 8, 11, 6, 4],
        'Person 2': [10, 6, 11, 5, 8, 9, 12],
        'Person 3': [8, 5, 7, 3, 7, 11, 15]}
df = pd.DataFrame(data, columns=['weekday',
        'Person 1', 'Person 2', 'Person 3'])
df

Na postać "tidy" (1 wiersz na ocenę)

### Zadanie 4

Biorąc następujący DataFrame:

In [ ]:
df = pd.DataFrame(data = {
    'Day' : ['MON', 'TUE', 'WED', 'THU', 'FRI'], 
    'Google' : [1129,1132,1134,1152,1152], 
    'Apple' : [191,192,190,190,188] 
})
df

In [ ]:
reshaped_df = df.melt(id_vars=['Day'], var_name='Company', value_name='Closing Price')
reshaped_df

Stworzyć korzystając z `reshaped_df` przy uzyciu `pivot` DataFrame identyczny z `df`